html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS Start */

html {
	height: 100%;
	overflow: hidden;
}

body {
	background: #1c1c1c;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	height: 100vw;
	max-height: 960px;
	width: 100vw;
	max-width: 960px;
	position: relative;
	margin: auto;
}

#attack_disc {
	background-image: url('images/1.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 30vw;
	max-width: 1124px;
	height: 30vw;
	max-height: 1124px;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	transform-origin:50% 50%;
    border-radius:50%;
}

#course_disc {
	background-image: url('images/2.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 23vw;
	max-width: 868px;
	height: 23vw;
	max-height: 868px;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	transform-origin:50% 50%;
    border-radius:50%;
}

#aob_disc {
	background-image: url('images/3.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 15.5vw;
	max-width: 592px;
	height: 15.5vw;
	max-height: 592px;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
    transform-origin:50% 50%;
    border-radius:50%;
}

#bearing_lead_disc {
	background-image: url('images/4.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 23.5vw;
	max-width: 884px;
	height: 23.5vw;
	max-height: 884px;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	clip-path: url(#my-clip-path);
  	-webkit-clip-path: url(#my-clip-path);
}